<!doctype html>
<html>
<head>
    <title>Variant Ninja</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Variant Ninja</h1>

        <p>You have reached a secure page. If you are here to login, please do so:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    </div>

</div>
</body>
</html>