<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Cover Letter by Joel Serino</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <link rel="apple-touch-icon" href="">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- open graph -->
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link rel="canonical" href="">
    <!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        	<script src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/theme-blue.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/js/pace.min.js"></script>
    <script src="/js/modernizr-2.8.3.min.js"></script>
    <script src="/js/detectizr.min.js"></script>
	<style>.logo {margin-top: 5px ;} .nav-1.shrink .logo {max-height: 47px; margin-top: 7px;} h1, h2, h3, h4, h5, h6 {text-align: inherit;}.footer-1 img {max-height: 47px;}</style>
    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-42099274-1', 'auto');
		ga('require', 'linkid', 'linkid.js');
		ga('set', 'contentGroup1', 'Variant Pages'); 
		ga('_setDomainName', 'variant.ninja');
		ga('_setAllowLinker', true);
		ga('send', 'pageview');
    </script>
</head>
<body>


		        <div class="nav-container">
		
		            
		
		            <nav class="nav-1 dark">
		                <div class="navbar">
		                    <div class="container">
		                        <div class="row">
		                            <div class="col-md-3 col-sm-6 col-xs-4">
		                                <a href="#">
		                                    <img class="logo" alt="Logo" src="img/fedora-logo.png">
		                                </a>
		                            </div>
		
		                            <div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
		                                <a class="btn btn-filled inner-link" href="http://j.mp/CodeWrangler" target="default">Download Résumé »</a>
		                                <div class="mobile-toggle">
		                                    <div class="upper"></div>
		                                    <div class="middle"></div>
		                                    <div class="lower"></div>
		                                </div>
		                            </div>
		
		                            <div class="col-md-6 text-center col-md-pull-3 col-sm-12 col-xs-12">
		                                <ul class="menu">
		                                    <li>
		                                        <a href="#" class="inner-link" target="default">
											Home</a>
		                                    </li><li>
		                                        <a href="#experience" class="inner-link" target="default">
											Experience</a>
		                                    </li><li>
		                                        <a href="#highlights" class="inner-link" target="default">
											Highlights</a>
		                                    </li><li>
		                                        <a href="#recommendations" class="inner-link" target="default">
											Recommendations</a>
		                                    </li><li>
		                                        <a href="#portfolio" class="inner-link" target="default">
											Portfolio</a>
		                                    </li>
		
		                                    <li class="has-dropdown">
		                                        <a href="#">
											More</a>
		                                        <ul class="subnav">
		                                            <li>
		                                                <a href="http://be.net/thinq4yourself" target="_blank">
													Visit Portfolio</a>
		                                            </li>
		
		                                            <li class="has-dropdown">
		                                                <a href="https://github.com/thinq4yourself?tab=repositories" target="_blank">
													Visit Github</a>
		                                                
		                                            </li>		                                            
													<li class="has-dropdown">
		                                                <a href="https://github.com/BeardandFedora" target="_blank">
													Visit Github (2)</a>
		                                                
		                                            </li>
													<li class="has-dropdown">
		                                                <a href="http://j.mp/CodeWrangler" target="_blank">
													View Résumé<br></a>
		                                                
		                                            </li>
													<li class="has-dropdown">
		                                                <a href="http://about.me/joelserino" target="_blank">About.me</a>
		                                                
		                                            </li>
													<li class="has-dropdown">
		                                                <a href="http://j.mp/onAngelCo" target="_blank">Angel.co</a>
		                                                
		                                            </li>
		                                        </ul>
		                                    </li>
		                                </ul>
		                            </div>
		
		                        </div>
		                    </div>
		                </div>
		            </nav>
		        
		        </div>
		
		        <div class="main-container">
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            
		        
		            <section class="cta cta-5 fixed-header">
		                <div class="background-image-holder">
		                    <img alt="Background Image" class="background-image" src="/img/hero12.jpg">
		                </div>
		
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2 class="text-white">Make Stuff&nbsp;<b>Go</b>.</h2>
		                            <h5 class="text-white">I like to build smart apps, products, and websites. I do this while traveling &amp; writing about it. </h5>
		                            <a class="btn btn-filled super-action inner-link" href="#experience" target="default">See Experience »</a>
		                            <p class="sub">By continuing you agree to finish. Don't worry, it doesn't take long.<br></p>
		                        </div>
		                    </div>
		                </div>
		            </section>
					<section class="features features-7" id="experience">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
		                            <h6>Summary of Experience</h6>
		                            <h4>&nbsp;Over the last fifteen years, I have helped advise and guide several dozen meaningful, high growth teams on how to build better products and how to make them useful for real humans. This involves lots of fun and meaningful experimentation.&nbsp;</h4>
		                            <a href="#highlights" class="btn inner-link" target="default">Learn More »</a>
		                        </div>
		                    </div>
		                </div>
		
		                <img alt="Macbook" class="pull-right" src="/img/macbook.jpg">
		            </section>
					<section class="features features-6 bg-dark" id="highlights">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h3>That's not all there is</h3>
		                        </div>
		                    </div>
		
		                    <div class="row">
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-backpack-streamline-trekking"></i>
		                            <h5>Full Time Traveler</h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-man-people-streamline-user"></i>
		                            <h5>Lean Startup Master Coach, Luxr</h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-magic-magic-wand-streamline"></i>
		                            <h5>Coach, Startup Weekend</h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-clap-board"></i>
		                            <h5>Organizer, Ignite Tampa Bay<br></h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-monocle-mustache-streamline"></i>
		                            <h5>Top Entrepreneur Under 40, YEC</h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-bubble-love-streamline-talk"></i>
		                            <h5>Ambassador, CoFoundersLab</h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-map-streamline-user"></i>
		                            <h5>Organizer, Lean Startup Circle</h5>
		                        </div>
		
		                        <div class="col-md-3 col-sm-6 text-center feature">
		                            <i class="icon-danger-death-delete-destroy-skull-stream"></i>
		                            <h5>Independent Security Researcher</h5>
		                        </div>
		
		                    </div>
		                </div>
		            </section>
					<section class="testimonials testimonials-2 bg-secondary" id="recommendations">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h4> Hear what others think of me</h4>
		                        </div>
		                    </div>
		
		                    <div class="row">
		                        <div class="col-md-4 col-sm-6 testimonial">
		                            <img alt="Avatar" src="/img/1429914670_39-128.png">
		                            <p>Joel has an amazing ability to see a huge number of moving parts and understand how they fit together with little or no effort.<br><br>He's got an amazing skill set - design, entrepreneurship, code...you name it he can either do it or learn how.<br></p>
		                            <p>
		                                <em>— Todd Lincoln, The Advisory Board Company</em>
		                            </p>
		                        </div>
		
		                        <div class="col-md-4 col-sm-6 testimonial">
		                            <img alt="Avatar" src="/img/1429914702_32-128.png">
		                            <p>
		                                Joel is a creative thinker. A rare talent, Joel combines the right-brained creative skills of a design artist with the execution ability of a technologist and entrepreneur. I hope he and I find a way to work together again
		                            </p>
		                            <p>
		                                <em>— Brandon Rhymes, Qlik</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
		                        </div>
		
		                        <div class="col-md-4 col-sm-6 testimonial">
		                            <img alt="Avatar" src="/img/1429914574_43-128.png">
		                            <p>
		                                Always a positive can-do attitude, smart as a whip, with a flare for pioneering the unknown. His staff loved working for him (I hired them) and his coworkers leaped at the chance to work partner with him. Joel is an outstanding professional in every respect, and, most importantly, a person of exceptionally strong character.
		                            </p>
		                            <p>
		                                <em>— Lois Glasgow, TUI Travel</em>
		                            </p>
		                        </div>
		                    </div>
		                </div>
		            </section>
					<section class="contact contact-1">
		                <div class="map-holder">
		                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2801440.0412638625!2d-121.15657599999999!3d46.7100495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1429901632332"></iframe>
		                </div>
		
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2 class="text-white">I'm based out of the Pacific Northwest, <br>but travel regurlarly</h2>
		                            <h5 class="text-white">Throughout the year, my family and I will relocate, either to a new state or a new country. We tend to return to a home base for periods of time to start or finish projects. I love being on the move - and it keeps me creative.</h5>
		                        </div>
		                    </div>
		                </div>
		
		                <div class="map-toggle">
		                    <div class="switch"></div>
		                    <h6 class="text-white">Toggle Map</h6>
		                </div>
		            </section>
					<section class="cta cta-5" id="portfolio">
		                <div class="background-image-holder">
		                    <img alt="Background Image" class="background-image" src="/img/hero12.jpg">
		                </div>
		
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2 class="text-white">Make Stuff <strong>Go</strong></h2>
		                            <h5 class="text-white">I can do that MacGyver-like.</h5>
		                            <a class="btn btn-filled super-action" href="http://be.net/thinq4yourself" target="_blank">See Portfolio »</a>
		                            <p class="sub">Clicking this button will take you to Behance.net</p>
		                        </div>
		                    </div>
		                </div>
		            </section>
					<section class="cta cta-4 bg-dark bg-secondary">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <img alt="company" src="http://liv.it/wp-content/uploads/2015/04/livit-logo-fix-white_1-e1428983362356.png">
		                            <img alt="company" src="https://www.asurion.com/content/dam/asuriondc/img/asurion-logo-white.png">
		                            <img alt="company" src="https://www.simflofy.com/includes/logo.png">
		                            <img alt="company" src="http://www.monday-consulting.com/img/monday/referenzen/tui-logo.png">
		                            <img alt="company" src="https://labsterim.s3.amazonaws.com/media/uploads/labster/labster_logo_30.png">
		                        </div>
		                    </div>
		
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h3>You're in good company</h3>
		                            <h5>I would ♥ you to join the satisfied companies that I have worked for.</h5>
		                            
		                            
		                        </div>
		                    </div>
		                </div>
		            </section>
					<section class="social social-2">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h6 class="text-white">THINGS <b>@THINQ4YOURSELF</b> SAYS ON TWITTER</h6>
		                        </div>
		                    </div>
		
		                    <div class="row">
		                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
		                            <div class="twitter-feed">
		                                <div class="tweets-feed tweets-slider" data-widget-id="438837125719420929">
		
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </section>
					<section class="cta cta-6">
		                <div class="container">
		                    <div class="row v-align-children">
		                        <div class="col-md-8 col-sm-7">
									<h3>Prototyping, <a href="http://buff.ly/1ExRTQp" target="_blank">Testing</a>, Shipping, and Iterating. That's In My <a href="http://buff.ly/1ExRZYh" target="_blank">Wheelhouse</a>.</h3>
									<p>Please peruse my <a href="https://github.com/BeardandFedora" target="_blank">Github</a> <a href="https://github.com/thinq4yourself?tab=repositories" target="_blank" class="text-info">profiles</a>, Behance portfolio, and &nbsp;Résumé. I'd love to get to work after that.</p>
		                        </div>
		
		                        <div class="col-md-4 col-sm-5 text-right">
		                            <a class="btn" href="http://j.mp/CodeWrangler" target="_blank"> Résumé&nbsp; »</a>
		                            <a class="btn btn-filled" href="https://github.com/BeardandFedora" target="_blank">Github »</a>
		                        </div>
		                    </div>
		                </div>
		            </section><footer class="footer footer-1">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-4">
		                            <ul class="social-links">
		                                <li><a href="https://facebook.com/thinqyourself" target="_blank"><i class="icon-facebook"></i></a>
		                                </li>
		                                <li><a href="https://twitter.com/thinq4yourself" target="_blank"><i class="icon-twitter"></i></a>
		                                </li>
		                                <li><a href="http://be.net/thinq4yourself"><i class="icon-behance"></i></a>
		                                </li><li><a href="http://j.mp/onAngelCo" target="_blank"><i class="icon-target"></i></a>
		                                </li>
		                                <li><a href="https://github.com/thinq4yourself?tab=repositories" target="_blank"><i class="icon-grid-lines-streamline"></i></a>
		                                </li><li><a href="https://github.com/BeardandFedora" target="_blank"><i class="icon-grid-lines-streamline"></i></a>
		                                </li><li><a href="http://lnkd.in/9tetJY" target="_blank"><i class="icon-linkedin"></i></a>
		                                </li><li><a href="http://medium.com/@thinq4yourself" target="_blank"><i class="icon-blip"></i></a>
		                                </li>
		                            </ul>
		                        </div>
		
		                        <div class="col-sm-4 text-center">
		                            <p class="sub">
		                                © Uncopyright 2015 Joel Serino &nbsp;- Built with <span color="red">♥</span> just for you</p>
		                        </div>
		
		                        <div class="col-sm-4 text-right">
		                            <a href="#">
		                                <img alt="Logo" src="img/fedora-logo.png">
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </footer>
		        </div>
		
		    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
	<script src="/js/placeholders.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/waves.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/velocity.min.js"></script>
    <script src="/js/form-plugins.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>

