<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Labster | Privacy Policy</title>
    <meta name="description" content="Labster Is Life Science Education Reimagined">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="shortcut icon" href="../favicon.ico" />

    <!-- open graph -->
    <meta property="og:url" content="http://www.labster.com">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.tagline }}">
    <meta property="og:description" content="Labster Is Life Science Education Reimagined">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.labster.com/images/labster-logo.png">
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@labster">
    <meta name="twitter:url" content="http://www.labster.com">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.tagline }}">
    <meta name="twitter:description" content="Labster Is Life Science Education Reimagined">
    <meta name="twitter:image" content="http://www.labster.com/images/labster-logo.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.../js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXX-1', 'auto');
        ga('require', 'linkid', 'linkid.js');
    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KT7ZFL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-XXX');
    </script>
    <!-- End Google Tag Manager -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/theme-business.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <script src="../js/plugins/pace.min.js"></script>
    <script src="../js/modernizr-2.8.3.min.js"></script>
    <script src="../js/detectizr.min.js"></script>
</head>

<body>


    <div class="nav-container dark" style="min-height: 80px;">



        <nav class="nav-1 dark">
            <div class="navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-4">
                            <a href=".">
                                <img class="logo" alt="Home" src="../img/logo-light.png">
                            </a>
                        </div>

                        <div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
                            <a class="btn btn-filled" href="#" data-toggle="modal" data-target="#signup-page" data-modal-form="signup">Free Trial »</a>
                            <div class="mobile-toggle">
                                <div class="upper"></div>
                                <div class="middle"></div>
                                <div class="lower"></div>
                            </div>
                        </div>

                        <div class="col-md-6 text-center col-md-pull-3 col-sm-12 col-xs-12">
                            <ul class="menu" style="float:left;">
                                <li>
                                    <a href="/">
											Home</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>





    </div>

    <div class="main-container">





        <section class="header header-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="text-white">Privacy Policy</h4>
							</div>
						</div>
					</div>
			</section>
			
			<section class="features features-7">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
							<h6>Labster Privacy Policy</h6>
							<h4>This Privacy Policy governs the manner in which Labster ApS collects, uses, maintains and discloses information collected from users (each, a “User”) of the http://www.labster.com website (“Site”). This privacy policy applies to the Site and all products and services offered by Labster ApS.</h4>
						</div>
					</div>
				</div>
			
				<img alt="Macbook" class="pull-right" src="../img/macbook.jpg">
			</section>
			
			<section class="text terms-1 bg-secondary">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<div class="inner-wrapper">
<p>This Privacy Policy governs the manner in which Labster ApS collects, uses, maintains and discloses information collected from users (each, a “User”) of the <a href="http://www.labster.com/">http://www.labster.com</a> website (“Site”). This privacy policy applies to the Site and all products and services offered by Labster ApS.</p>
<h4>Personal identification information</h4>
<p style="text-align: justify;">We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, log into the virtual laboratory, complete laboratory steps, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, and/or phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
<h4>Non-personal identification information</h4>
<p style="text-align: justify;">We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
<h4>Web browser cookies</h4>
<p style="text-align: justify;">Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
<h4>How we use collected information</h4>
<p style="text-align: justify;">Labster ApS may collect and use Users personal information for the following purposes:</p>
<ol style="text-align: justify;">
<li><em>To improve customer service</em><br>
Information you provide helps us respond to your customer service requests and support needs more efficiently.</li>
<li><em>To personalize user experience</em><br>
We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</li>
<li><em>To improve our Site</em><br>
We may use feedback you provide to improve our products and services.</li>
<li>
<em>To process payments</em><br>
We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.
</li>
<li>
<em>To run a promotion, contest, survey or other Site feature</em><br>
To send Users information they agreed to receive about topics we think will be of interest to them.
</li>
<li>
<em>To send periodic emails<br></em>
We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or User may contact us via our Site.
</li>
<li>
<em>To conduct scientific research</em><br>
We may use the information to conduct scientific research that may lead to publications in scientific journals and conferences.
</li>
</ol>
<h4>How we protect your information</h4>
<p style="text-align: justify;">We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
<p style="text-align: justify;">Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel&nbsp;and is encrypted and protected with digital signatures.</p>
<h4>Sharing your personal information</h4>
<p style="text-align: justify;">We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>
<h4>Third party websites</h4>
<p style="text-align: justify;">Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website’s own terms and policies.</p>
<h4>Changes to this privacy policy</h4>
<p style="text-align: justify;">Labster has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site, revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
<h4>Your acceptance of these terms</h4>
<p style="text-align: justify;">By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
<h4>Contacting us</h4>
<p style="text-align: justify;">If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:<br>
<a href="http://www.labster.com/">http://www.labster.com</a><br>
Labster ApS<br>
c/o Founders House<br>
Njalsgade 19 D 1<br>
2300 København S<br>
<a href="mailto:please-reply@labster.com" target="_top">please-reply@labster.com</a>
</p>
<p style="text-align: justify;">This document was last updated on 20<sup>th</sup> of February 2013.</p>
</div>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer footer-4">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="../img/hero7.jpg">
				</div>
			
				<ul class="social-links">
					<li>
						<a href="https://www.facebook.com/teamlabster" target="_blank">
							<i class="icon-facebook"></i>
						</a>
					</li>
		
					<li>
						<a href="https://twitter.com/labster" target="_blank">
							<i class="icon-twitter"></i>
						</a>
					</li>
		
					<li>
						<a href="https://plus.google.com/+Labster" target="_blank">
							<i class="icon-google"></i>
						</a>
					</li>
				</ul>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a href="#">
								<img alt="Logo" src="../img/logo-light.png">
								<p class="sub text-white">
									© Copyright 2015 Labster - All Rights Reserved
								</p>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	<div class="modal fade" id="referral-page">
    <div class="gradient"></div>
    <div class="modal-dialog" style="background-color: #fff;">
        <div class="modal-form" style="max-width: 90%;">
                <!-- Sign up form -->
					<form class="scale contained-form form-email" method="post" id="referral-form" style="width:100%;">
                    <div class="row text-muted">
                        <div class="col-sm-5">
                            <img src="http://icons.iconarchive.com/icons/pelfusion/folded-flat/256/Messages-2-icon.png">
                        </div>
                        <div class="col-sm-7">
                            <h3 class="editable editable-click">Refer Your Teacher</h3>
                            <div class="text text-gray">
                                <p>Be sure to let them know why you referred them.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row space-top-2x">
                        <div class="col-sm-6">
                            <div class="form-control wide">
                                <input type="text" name="name" class="signup-name-field validate-required" placeholder="Teacher's First Name" style="background:#e3e3e3;">
                                <span class="error-label"></span>
                                <span class="valid-label"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-control wide">
                                <input type="email" name="email" class="validate-required validate-email signup-email-field" placeholder="Teacher's Email Address" style="background:#e3e3e3;">
                                <span class="error-label"></span>
                                <span class="valid-label"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row space-top">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-block btn-danger btn-float btn-app-store waves-effect waves-button waves-float waves-primary" style="background: #C0392B;">
                                <i class="flaticon-thumb54"></i> Refer Your Teacher</button>
                        </div>
                    </div>
                </form>
         </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="signup-page">
    <div class="gradient"></div>
    <div class="modal-dialog" style="background-color: #fff;">
        <div class="modal-form" style="max-width: 90%;">
                <!-- Sign up form -->
					<form class="scale contained-form form-email" method="post" id="signup-form" style="width:100%;">
                    <div class="row text-muted">
                        <div class="col-sm-5">
                            <img src="https://www.labster.com/static/images/landing/labster-room.e5f116164cda.jpg">
                        </div>
                        <div class="col-sm-7">
                            <h3 class="editable editable-click">Let's Get Started</h3>
                            <div class="text text-gray">
                                <p>Completely online, Labster is quick and easy to get started with.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row space-top-2x">
                        <div class="col-sm-6">
                            <div class="form-control wide">
                                <input type="text" name="name" class="signup-name-field validate-required" placeholder="First Name" style="background:#e3e3e3;">
                                <span class="error-label"></span>
                                <span class="valid-label"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-control wide">
                                <input type="email" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address" style="background:#e3e3e3;">
                                <span class="error-label"></span>
                                <span class="valid-label"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row space-top">
                        <div class="col-sm-7">
                            <label class="checkbox space-top">
                                <div class="icheckbox">
                                    <input type="checkbox" style="position: absolute; opacity: 0;" checked><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div>Receive Updates
                            </label>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-block btn-primary btn-float btn-app-store waves-effect waves-button waves-float waves-primary">
                                <i class="flaticon-thumb54"></i> Get Started</button>
                        </div>
                    </div>
                </form>
         </div>
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Sales call -->
<div class="modal fade" id="sales-page">
    <div class="modal-dialog" style="background-color: #1D191A;">
        <div class="modal-form" style="max-width: 90%;">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="http://icons.iconarchive.com/icons/dapino/callcenter-girls/128/callcenter-girls-flower-icon.png">
                    </div>
                    <div class="col-sm-8">
                        <h3 class="editable editable-click" style="color: #bbb;">Experts - At Your Service</h3>
                        <div class="text">
                            <p class="editable editable-pre-wrapped editable-click" >It's easy to setup a quick discussion with someone who knows your needs.</p>
                        </div>
                    </div>
                </div>
                <div class="row space-top">
                    <div class="col-sm-12">
                <form class="scale contained-form form-email" method="post" id="sales-form" style="width:100%;">
                    <div class="form-control wide">
						<input type="text" name="name" class="signup-name-field validate-required" placeholder="First Name">
                        <span class="error-label"></span>
                        <span class="valid-label"></span>
                    </div>
                    <div class="form-control wide">
						<input type="email" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
                        <span class="error-label"></span>
                        <span class="valid-label"></span>
                    </div>
                    <div class="form-control wide">
						<input type="tel" name="tel" class="validate-required validate-tel signup-tel-field" placeholder="Telephone Number">
                        <span class="error-label"></span>
                        <span class="valid-label"></span>
                    </div>
                    <div class="col-sm-6">
					<label class="checkbox space-top-2x">
                        <input type="checkbox" checked>Receive Updates
                    </label>
					</div>
                    <div class="clearfix modal-buttons col-sm-6">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-float btn-success waves-effect waves-button waves-float waves-dark">Send Call Request</button>
                        </div>
                    </div>
				<div class="form-error">
                                <span>Please fill out all fields correctly</span>
                            </div>

                            <div class="form-success">
                                <span>Thank you, your details were sent</span>
                            </div>
                            <iframe srcdoc="<!-- Begin MailChimp Signup Form --> <link href=&quot;//cdn-images.mailchimp.com/embedcode/classic-081711.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;> <style type=&quot;text/css&quot;> 	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } 	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block. 	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id=&quot;mc_embed_signup&quot;> <form action=&quot;//labster.us4.list-manage.com/subscribe/post?u=7f4fbdb84484f0b8b7ea3aab1&amp;amp;id=e5853009cc&quot; method=&quot;post&quot; id=&quot;mc-embedded-subscribe-form&quot; name=&quot;mc-embedded-subscribe-form&quot; class=&quot;validate&quot; target=&quot;_blank&quot; novalidate>     <div id=&quot;mc_embed_signup_scroll&quot;> 	<h2>Subscribe to our mailing list</h2> 
                        <div class=&quot;indicates-required&quot;><span class=&quot;asterisk&quot;>*</span> indicates required</div>
                        <div class=&quot;mc-field-group&quot;>
                            <label for=&quot;mce-FNAME&quot;>First Name</label>
                            <input type=&quot;text&quot; value=&quot;&quot; name=&quot;FNAME&quot; class=&quot;&quot; id=&quot;mce-FNAME&quot;>
                        </div>
                        <div class=&quot;mc-field-group&quot;>
                            <label for=&quot;mce-EMAIL&quot;>Email Address <span class=&quot;asterisk&quot;>*</span> 
                            </label>
                            <input type=&quot;email&quot; value=&quot;&quot; name=&quot;EMAIL&quot; class=&quot;required email&quot; id=&quot;mce-EMAIL&quot;>
                        </div>
                    </div>
                    <div id=&quot;mce-responses&quot; class=&quot;clear&quot;>
                        <div class=&quot;response&quot; id=&quot;mce-error-response&quot; style=&quot;display:none&quot;></div>
                        <div class=&quot;response&quot; id=&quot;mce-success-response&quot; style=&quot;display:none&quot;></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style=&quot;position: absolute; left: -5000px;&quot;>
                        <input type=&quot;text&quot; name=&quot;b_7f4fbdb84484f0b8b7ea3aab1_e5853009cc&quot; tabindex=&quot;-1&quot; value=&quot;&quot;>
                    </div>
                    <div class=&quot;clear&quot;>
                        <input type=&quot;submit&quot; value=&quot;Subscribe&quot; name=&quot;subscribe&quot; id=&quot;mc-embedded-subscribe&quot; class=&quot;button&quot;>
                    </div>
                </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[7] = 'FNAME';
                    ftypes[7] = 'text';
                    fnames[8] = 'LNAME';
                    ftypes[8] = 'text';
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[12] = 'PHONE';
                    ftypes[12] = 'phone';
                    fnames[9] = 'ROLE';
                    ftypes[9] = 'dropdown';
                    fnames[13] = 'BIRTHDAY';
                    ftypes[13] = 'birthday';
                    fnames[11] = 'WEBSITE';
                    ftypes[11] = 'url';
                    fnames[10] = 'ADDRESS';
                    ftypes[10] = 'address';
                    fnames[3] = 'UBPAGEID';
                    ftypes[3] = 'text';
                    fnames[4] = 'UBVARIANT';
                    ftypes[4] = 'text';
                    fnames[5] = 'UBDATE';
                    ftypes[5] = 'date';
                    fnames[1] = 'IPADDRESS';
                    ftypes[1] = 'text';
                    fnames[6] = 'UBURL';
                    ftypes[6] = 'url';
                    fnames[2] = 'UBTIME';
                    ftypes[2] = 'text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->" class="mail-list-form">
            </iframe>
            </form>
    </div>
    </div>

    </div>
    </div>
    <!-- /.modal-dialog -->
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../js/flexslider.min.js"></script>
    <script src="../js/smooth-scroll.min.js"></script>
    <script src="../js/placeholders.min.js"></script>
    <script src="../js/twitterfetcher.min.js"></script>
    <script src="../js/spectragram.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/velocity.min.js"></script>
    <script src="../js/form-plugins.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>

</html>

