<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Variant Ninja - Learning Landing Page Template</title>
    <meta name="description" content="Page-less, responsive smart sites with built-in heat maps, goal tracking and a best-of-breed toolset that helps you exceed your conversion goals.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon-small.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon-small.png">
    <link rel="apple-touch-icon" href="img/icon-small.png">
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- open graph -->
    <meta property="og:url" content="http://variant.ninja">
    <meta property="og:title" content="Variant Ninja">
    <meta property="og:description" content="Build smart landing pages with no developers.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://variant.ninja/img/variant-ninja.png">
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@beardandfedora">
    <meta name="twitter:url" content="http://www.variant.ninja">
    <meta name="twitter:title" content="Variant Ninja">
    <meta name="twitter:description" content="Build smart landing pages with no developers.">
    <meta name="twitter:image" content="http://variant.ninja/img/variant-ninja.png">
    <link rel="canonical" href="http://variant.ninja">
    <!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        	<script src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Angulartics -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script type="text/javascript" src="/js/angulartics.min.js"></script>
    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-63789032-1', 'auto');
        ga('require', 'linkid', 'linkid.js');
        ga('set', 'contentGroup2', 'Variant Ninja');
        ga('_setDomainName', 'variant.ninja');
        ga('_setAllowLinker', true);
        ga('send', 'pageview');
    </script>

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-K7HMM9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K7HMM9');
    </script>
    <!-- End Google Tag Manager -->
    <script data-pace-options='{ "ajax": true, "document": true, "eventLag": true}' src=/bower-libs/pace/pace.js></script>
    <link href="/bower-libs/pace/themes/blue/pace-theme-flat-top.css" rel="stylesheet" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme-amber.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <script src="/js/modernizr-2.8.3.min.js"></script>
    <script src="/js/detectizr.min.js"></script>
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <style>
        .nav-1 .logo {
            margin-top: 5px;
            max-height: 72px;
        }
        .nav-1.shrink .logo {
            margin-top: 5px;
            max-height: 55px;
        }
        .nav-1 .menu {
            margin-top: 31px;
        }
        .nav-1.shrink .menu {
            margin-top: 21px;
        }
        .footer-1 img {
            max-height: 35px;
        }
        .avatar {
            max-width: 45px;
        }
        .tooltip {
            font-size: .9em
        }
        .btn {
            border-radius: 5px;
        }
    </style>
</head>

<body>

	<div class="nav-container">

    <nav class="nav-1">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-4">
                        <a href="/" class="scroll inner-link">
                            <img class="logo" alt="Variant Ninja" src="/img/variant-ninja.png">
                        </a>
                    </div>
                    <div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
                        <a class="btn cta gumroad-button" href="https://gum.co/VariantNinjaPro?wanted=true" target="_blank" analytics-category="CTA" analytics-event="Top Nav CTA" analytics-on data-toggle="tooltip" data-placement="left" title="Hassle Free Higher Conversions">Launch Yours »</a>
                        <div class="mobile-toggle">
                            <div class="upper"></div>
                            <div class="middle"></div>
                            <div class="lower"></div>
                        </div>
                    </div>
                    <div class="col-md-5 text-center col-md-pull-5 col-sm-12 col-xs-12">
                        <ul class="menu pull-left">
                            <li>
                                <a href="/" analytics-category="Top Nav" analytics-event="About" analytics-on>
		Home</a>
                            </li>
                            <li>
                                <a href="/#about" analytics-category="Top Nav" analytics-event="About" analytics-on>
		About</a>
                            </li>
                            <li>
                                <a href="/#pricing" analytics-category="Top Nav" analytics-event="Pricing" analytics-on>
		Pricing</a>
                            </li>
                            <li>
                                <a href="/#features" analytics-category="Top Nav" analytics-event="Features" analytics-on>
		Features</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="/campaigns" analytics-category="Top Nav" analytics-event="Templates" analytics-on>
											Templates
										</a>
                                <ul class="subnav">
                                    <li>
                                        <a href="/campaigns" analytics-category="Top Nav" analytics-event="Gallery" analytics-on>
															<strong><span class="fa fa-th-large" style="padding-right: 7px;"></span> Gallery</strong>
														</a>
                                    </li>

                                    <li>
                                        <a href="/multi" analytics-category="Top Nav" analytics-event="-> Startup" analytics-on>
															Startup
														</a>
                                    </li>
                                    <li>
                                        <a href="/adventure" analytics-category="Top Nav" analytics-event="-> Travel" analytics-on>
															Travel
														</a>
                                    </li>

                                    <li>
                                        <a href="/agency" analytics-category="Top Nav" analytics-event="-> Agency" analytics-on>
															Agency
														</a>
                                    </li>

                                    <li>
                                        <a href="/fitness" analytics-category="Top Nav" analytics-event="-> Fitness" analytics-on>
															Fitness
														</a>
                                    </li>

                                    <li>
                                        <a href="/cater" analytics-category="Top Nav" analytics-event="-> Catering" analytics-on>
															Catering
														</a>
                                    </li>

                                    <li>
                                        <a href="/learn" analytics-category="Top Nav" analytics-event="-> Learning" analytics-on>
															Learning
														</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/build" class="text-primary" analytics-category="Top Nav" analytics-event="Login" analytics-on>
		<span class="fa fa-sign-in text-primary"></span> Login</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>	


		
		<div class="main-container">
					
			<a id="home" class="in-page-link"></a>
			
			<section class="header header-2">
		
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="../img/hero2.jpg">
				</div>
		
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Learn how to code in 19 days.</h1>
							<h5>An engaging online web design course covering everything from 'a' to 'z-index'.</h5>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="local-video-container">
								<div class="background-image-holder">
									<img alt="Background Image" class="background-image" src="../img/hero4.jpg">
								</div>
								<video controls="">
									<source src="video/video.webm" type="video/webm">
									<source src="video/video.mp4" type="video/mp4">
									<source src="video/video.ogv" type="video/ogg">	
								</video>
								<div class="play-button"></div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<form class="contained-form form-email" method="post">
								<h6 class="text-white">Sign up now for YOUR OFFER RIGHT HERE!</h6>
								<input type="text" name="name" class="signup-name-field validate-required" placeholder="Your Name">
								<input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
								<input type="submit" value="Start learning »">
								<p class="sub">
									* We don’t share your personal info with anyone. Check out our <a href="privacy.html"> Privacy Policy</a> for more information.
								</p>
								<div class="form-error">
										<span>Please fill all fields correctly</span>
									</div>
								
									<div class="form-success">
										<span>Thanks, your details were sent</span>
									</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			
			<a id="content" class="in-page-link"></a>
			
			<section class="features features-3">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>Learn from the best on the web.</h3>
							<p>Our comprehensive learning material covers everything from the basics to advanced topics.</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<i class="icon-brush-paint-streamline"></i>
							<h5>Visual Design &amp; Photoshop</h5>
							<p>
								You will learn the fundamentals visual design principles such as hierarchy, typography and vertical rhythm.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-browser-streamline-window"></i>
							<h5>Markup For The Modern Web</h5>
							<p>
								Based on the most modern web standards, you will construct robust but beautiful websites using HTML5 and CSS3.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-keyboard"></i>
							<h5>Code For Creative Freedom</h5>
							<p>
								Learn the ins and outs of Javascript and the jQuery library to take the interactivity in your designs to the next level.</p>
						</div>
					</div>
				</div>	
			</section>
			
			<section class="features features-10">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-6">
							<div class="embed-video-container">
								<iframe src="http://www.youtube.com/embed/ROZhrRm88ms?modestbranding=1&amp;showinfo=0"></iframe>
							</div>		
						</div>
					
						<div class="col-md-5 col-md-offset-1">
							<h4>Take a sneak peek at our<br>fun tutorial videos.</h4>
							<p>
								Learning web design online is now easier than ever with our step-by-step annotated tutorial videos. We've developed a learning sequence to that will teach you why before teaching you how - building a holistic knowledge of the web.</p>			
						</div>
					</div>
				</div>
			</section>
			
			<section class="cta cta-3 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-4 col-md-5 text-left">
							<h3>Sign up now - Get the<br>first module free.</h3>
							<p>
								“This course completely demystified the process of designing a website for me. I am now coding with confidence, knowing I've learned from the best.”
							</p>
							<span>— Elizabeth Atkinson, The ArchViz Blueprint</span>
						</div>
					
						<div class="col-md-5 col-sm-8">
							<form class="form-email" method="post">
								<h6>get your free learning module now!</h6>
								<input type="text" name="name" class="signup-name-field validate-required" placeholder="Your Name">
								<input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
								<input type="submit" value="Claim Free Module »">
								<p class="sub">
									* We don’t share your personal info with anyone. Check out our <a href="privacy.html"> Privacy Policy</a> for more information.
								</p>
								<div class="form-error">
									<span>Please fill all fields correctly</span>
								</div>
							
								<div class="form-success">
									<span>Thanks, your details were sent</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-7">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
							<h6>What makes Variant Learn unique?</h6>
							<h4>Don't spend hours fishing around for tutorials that only skim the surface. Learn web design from experienced professionals comprehensively from start to finish.</h4>
							<a href="#" class="btn">Start Learning »</a>
						</div>
					</div>
				</div>
			
				<img alt="Macbook" class="pull-right" src="../img/macbook.jpg">
			</section>
			
			<a id="preview" class="in-page-link"></a>
			
			<section class="features features-12 bg-secondary">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h4>Web design fundamentals in your language.</h4>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 feature">
							<img alt="Feature Image" src="../img/small1.jpg">
							<h5>The Ever-changing Web</h5>
							<p>
								We've come a long way from tables and glossy button effects. We'll show you how to pick up on emerging design trends to keep you ahead of the curve.</p>
						</div>
					
						<div class="col-md-4 col-sm-5 feature">
							<img alt="Feature Image" src="../img/hero10.jpg">
							<h5>Designing In Photoshop 101</h5>
							<p>
								Learn how to establish baseline grids and assemble basic wireframes before delving deeper into visual design in the industry's favourite pixel pusher.&nbsp;</p>
						</div>
					</div>
				</div>
			</section>
			
			<a id="cta" class="in-page-link"></a>
			
			<section class="cta cta-5">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="../img/hero9.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Start living the Web Designer dream.</h2>
							<h5 class="text-white">It's all about coffee, timber furniture and Apple products.</h5>
							<a class="btn btn-filled super-action" href="#">Sign Me Up</a>
							<p class="sub">By continuting you agree to our<br><a href="#">Terms of Use</a></p>
						</div>
					</div>
				</div>
			</section>
			
			<a id="pricing" class="in-page-link"></a>
			
			<section class="pricing pricing-4 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-6 text-center">
							<div class="pricing-option">
								<h6>PRO WEB DESIGN</h6>
								<div class="price-container">
									<span class="dollar">$</span>
									<span class="price">249</span>
									
								</div>
								<h5>Sublime Text - FREE!</h5>
								<ul>
									<li>Full access to our learning hub</li>
									<li>New content added weekly</li>
									<li>Feedback from real people</li>
								</ul>
								<a href="#" class="btn btn-filled">Start Learning</a>	
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="inner">
								<h3>Your first module<br>comes free.</h3>
								<p class="lead">
									“I loved having the ability to ask clarifying questions. The tutors are fully responsive!”
								</p>
								<img alt="Avatar" src="../img/avatar-1.png">
								<p>
									<em>— Jon Hopkins, Immunity</em>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<a id="faq" class="in-page-link"></a>
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>Is the course time-limited?</h5>
								<p>
									No, you can learn at your own pace and you will have full access to the course material indefinitely. We add new content weekly so there's always something to come back for!</p>
							</div>
					
							<div class="faq">
								<h5>Is the course IE7 compatible?</h5>
								<p>
									It looks like you're using an outdated browser. To make the most of what the internet has to offer in 2015, we suggest you update to a modern browser capable of parsing HTML5 and CSS3.</p>
							</div>
					
							
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>Do I need a Macbook?</h5>
								<p>No, but it helps! Studies have shown that the most appealing stock photography always features Apple's sleek, aluminium computers. You will also get extra street cred. for using a Macbook in a cafe.</p>
							</div>
					
							<div class="faq">
								<h5>Can I download the course material in PDF?</h5>
								<p>No need - you can access the course content at any time from any device using our online learning hub. Pages can be saved to your device for offline reading in browser storage.</p>
							</div>
						</div>
					
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>Still have questions? Tweet <a target="_blank" href="https://twitter.com/beardandfedora">@beardandfedora</a> for answers</h4>
						</div>
					</div>
				</div>
			</section>
			
			<section class="cta cta-4 bg-secondary">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<img alt="Affiliate" src="../img/l1.png">
							<img alt="Affiliate" src="../img/l2.png">
							<img alt="Affiliate" src="../img/l3.png">
							<img alt="Affiliate" src="../img/l4.png">
							<img alt="Affiliate" src="../img/l5.png">
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3>Endorsed by the best.</h3>
							<h5>Many past students have gone on to work in high-profile web companies.</h5>
							<a class="btn btn-filled super-action" href="#">Sign Me Up</a>
							<p class="sub">By continuting you agree to our<br><a href="#">Terms of Use</a></p>
						</div>	
					</div>
				</div>
			</section>
			<footer class="footer footer-3">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-md-offset-3 col-sm-4">
							<a href="#">
								<img alt="Logo" src="../img/logo-dark.png">
							</a>	
						</div>
					
						<div class="col-md-2 col-sm-4">
							<ul class="menu">
								<li>
									<a href="#">
										News
									</a>
								</li>
						
								<li>
									<a href="#">
										FAQ
									</a>
								</li>
						
								<li>
									<a href="#">
										Privacy Policy
									</a>
								</li>
						
								<li>
									<a href="#">
										Terms of Use
									</a>
								</li>
							</ul>
						</div>
					
						<div class="col-md-2 col-sm-4">
							<ul class="menu">
								<li>
									<a href="#">
										Facebook
									</a>
								</li>
						
								<li>
									<a href="#">
										Twitter
									</a>
								</li>
						
								<li>
									<a href="#">
										Instagram
									</a>
								</li>
							</ul>
						</div>
					</div>
				
					<div class="col-md-6 col-md-offset-3">
						<div class="lower">
							<p class="sub">
								© Copyright 2015 Your Co - All Rights Reserved
							</p>	
						</div>
					</div>
				</div>
			</footer>
		</div>
		
				
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/variant.min.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
	<script src="/js/placeholders.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/waves.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/velocity.min.js"></script>
    <script src="/js/form-plugins.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/main.js"></script>	
	<script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>
    </body>
</html>

				