<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Variant Ninja - Multi-purpose Landing Page Template</title>
    <meta name="description" content="Page-less, responsive smart sites with built-in heat maps, goal tracking and a best-of-breed toolset that helps you exceed your conversion goals.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon-small.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon-small.png">
    <link rel="apple-touch-icon" href="img/icon-small.png">
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- open graph -->
    <meta property="og:url" content="http://variant.ninja">
    <meta property="og:title" content="Variant Ninja">
    <meta property="og:description" content="Build smart landing pages with no developers.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://variant.ninja/img/variant-ninja.png">
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@beardandfedora">
    <meta name="twitter:url" content="http://www.variant.ninja">
    <meta name="twitter:title" content="Variant Ninja">
    <meta name="twitter:description" content="Build smart landing pages with no developers.">
    <meta name="twitter:image" content="http://variant.ninja/img/variant-ninja.png">
    <link rel="canonical" href="http://variant.ninja">
    <!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        	<script src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Angulartics -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script type="text/javascript" src="/js/angulartics.min.js"></script>
    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-63789032-1', 'auto');
        ga('require', 'linkid', 'linkid.js');
        ga('set', 'contentGroup2', 'Variant Ninja');
        ga('_setDomainName', 'variant.ninja');
        ga('_setAllowLinker', true);
        ga('send', 'pageview');
    </script>

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-K7HMM9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K7HMM9');
    </script>
    <!-- End Google Tag Manager -->
    <script data-pace-options='{ "ajax": true, "document": true, "eventLag": true}' src=/bower-libs/pace/pace.js></script>
    <link href="/bower-libs/pace/themes/green/pace-theme-minimal.css" rel="stylesheet" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme-blue.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <script src="/js/modernizr-2.8.3.min.js"></script>
    <script src="/js/detectizr.min.js"></script>
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <style>
        .nav-1 .logo {
            margin-top: 5px;
            max-height: 72px;
        }
        .nav-1.shrink .logo {
            margin-top: 5px;
            max-height: 55px;
        }
        .nav-1 .menu {
            margin-top: 31px;
        }
        .nav-1.shrink .menu {
            margin-top: 21px;
        }
        .footer-1 img {
            max-height: 35px;
        }
        .avatar {
            max-width: 45px;
        }
        .tooltip {
            font-size: .9em
        }
        .btn {
            border-radius: 5px;
        }
    </style>
</head>

<body>

	<div class="nav-container">

    <nav class="nav-1">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-4">
                        <a href="/" class="scroll inner-link">
                            <img class="logo" alt="Variant Ninja" src="/img/variant-ninja.png">
                        </a>
                    </div>
                    <div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
                        <a class="btn cta gumroad-button" href="https://gum.co/VariantNinjaPro?wanted=true" target="_blank" analytics-category="CTA" analytics-event="Top Nav CTA" analytics-on data-toggle="tooltip" data-placement="left" title="Hassle Free Higher Conversions">Launch Yours »</a>
                        <div class="mobile-toggle">
                            <div class="upper"></div>
                            <div class="middle"></div>
                            <div class="lower"></div>
                        </div>
                    </div>
                    <div class="col-md-5 text-center col-md-pull-5 col-sm-12 col-xs-12">
                        <ul class="menu pull-left">
                            <li>
                                <a href="/" analytics-category="Top Nav" analytics-event="About" analytics-on>
		Home</a>
                            </li>
                            <li>
                                <a href="/#about" analytics-category="Top Nav" analytics-event="About" analytics-on>
		About</a>
                            </li>
                            <li>
                                <a href="/#pricing" analytics-category="Top Nav" analytics-event="Pricing" analytics-on>
		Pricing</a>
                            </li>
                            <li>
                                <a href="/#features" analytics-category="Top Nav" analytics-event="Features" analytics-on>
		Features</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="/campaigns" analytics-category="Top Nav" analytics-event="Templates" analytics-on>
											Templates
										</a>
                                <ul class="subnav">
                                    <li>
                                        <a href="/campaigns" analytics-category="Top Nav" analytics-event="Gallery" analytics-on>
															<strong><span class="fa fa-th-large" style="padding-right: 7px;"></span> Gallery</strong>
														</a>
                                    </li>

                                    <li>
                                        <a href="/multi" analytics-category="Top Nav" analytics-event="-> Startup" analytics-on>
															Startup
														</a>
                                    </li>
                                    <li>
                                        <a href="/adventure" analytics-category="Top Nav" analytics-event="-> Travel" analytics-on>
															Travel
														</a>
                                    </li>

                                    <li>
                                        <a href="/agency" analytics-category="Top Nav" analytics-event="-> Agency" analytics-on>
															Agency
														</a>
                                    </li>

                                    <li>
                                        <a href="/fitness" analytics-category="Top Nav" analytics-event="-> Fitness" analytics-on>
															Fitness
														</a>
                                    </li>

                                    <li>
                                        <a href="/cater" analytics-category="Top Nav" analytics-event="-> Catering" analytics-on>
															Catering
														</a>
                                    </li>

                                    <li>
                                        <a href="/learn" analytics-category="Top Nav" analytics-event="-> Learning" analytics-on>
															Learning
														</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/login" class="text-primary" analytics-category="Top Nav" analytics-event="Login" analytics-on>
		<span class="fa fa-sign-in text-primary"></span> Login</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>	


				
		
		<div class="main-container">
		<a id="home" class="in-page-link"></a>
			
			<section class="header header-5 fixed-header">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero5.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Better selling pages</h1>
							<h5 class="text-white">Smart Sites are the highest converting pages on the internet.</h5>
						</div>
					</div>
				</div>
				
				<div class="modal-video-container">
					<div class="play-button large"></div>
					<div class="modal-video">
						<video controls="">
							<source src="video/video.webm" type="video/webm">
							<source src="video/video.mp4" type="video/mp4">
							<source src="video/video.ogv" type="video/ogg">	
						</video>
					</div>
				</div>
				
				<div class="form-holder">
					<form class="contained-form form-email" method="post">
						<h6 class="text-white">Sign up now for a free 30 day trial</h6>
						<input type="text" name="name" class="signup-name-field validate-required" placeholder="Your Name">
						<input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
						<input type="submit" value="Start your free trial »">
						<p class="sub">
							* We don’t share your personal info with anyone. Check out our <a href="privacy.html"> Privacy Policy</a> for more information.
						</p>
						<div class="form-error">
							<span>Please fill all fields correctly</span>
						</div>
						
						<div class="form-success">
							<span>Thanks, your details were sent</span>
						</div>
					</form>
				</div>			
			</section>
			
			<a id="features" class="in-page-link"></a>
			
			<section class="features features-2">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h4>Variant Ninja is a complete smart site solution that takes a results-driven approach. </h4>
							<p>Great for startups, campaigns, authors, products, and events. Deliver higher quality pages with more design freedom than other hosted solutions</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<img alt="Feature Image" src="img/small7.jpg">
							<h5>Unique, Engaging Style</h5>
							<p>
								Variant pages have a bright, flexible persona that can be adapted to suit almost any use. Use Variant pages to create a simple business website.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<img alt="Feature Image" src="img/small8.jpg">
							<h5>Built for mobile first</h5>
							<p>
								Tested first on a number of mobile devices, Variant Ninja is well prepared to impress your mobile audience.<br></p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<img alt="Feature Image" src="img/small6.jpg">
							<h5>Page Builder Access</h5>
							<p>
								Get access to our online page builder, which features Themeforest's most popular HTML page builder and loads of custom, proven page elements.</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-4 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-6 text-center feature">
							<img alt="Feature Image" src="img/ipad2.png">
						</div>
			
						<div class="col-sm-6 col-md-5 col-md-offset-1 feature">
							<h4>Launch a Smart Site<br> in a matter of days, not weeks.</h4>
							<p>
								The Variant Ninja platform is the fastes way to get a high conveting smart site launched, without developers. The online page builder features over 50 uniquely designed content blocks ready to be customizd with copy, analytics tags, actions, interactions, videos, and images. </p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-5">
				<div class="container">
					<div class="row v-align-children">
				
						<div class="col-sm-6 col-md-5 feature text-right">
							<h4>The online page builder<br> makes editing a breeze.</h4>
							<p>
								To get a head-start on a new page, use one of our pre-built templates from <a href="/campaigns">the Gallery</a>. With over 50 content blocks to choose from, the perfect layout is easy to achieve while we focus on the message, actions, and interactions. Make visual adjustments on-the-fly with minimal effort.</p>
						</div>
					
						<div class="col-sm-6 col-md-offset-1 text-center feature">
							<img alt="Feature Image" src="img/phone1.png">
						</div>
		
					</div>
				</div>
			</section>
			
			<section class="cta cta-5">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero10.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Build higher converting pages</h2>
							<h5 class="text-white">Start today with a money back guarantee.</h5>
							<a class="btn btn-filled super-action" href="http://j.mp/GetMySmartSite">Get Started</a>
							<p class="sub">By continuting you agree to our<br><a href="#">Terms of Use</a></p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-10">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-6">
							<div class="local-video-container">
								<div class="background-image-holder">
									<img alt="Background Image" class="background-image" src="img/small5.jpg">
								</div>
								<video controls="">
									<source src="video/video.webm" type="video/webm">
									<source src="video/video.mp4" type="video/mp4">
									<source src="video/video.ogv" type="video/ogg">	
								</video>
								<div class="play-button"></div>
							</div>		
						</div>
					
						<div class="col-md-5 col-md-offset-1">
							<h4>Build smart, effective landing pages in minutes.</h4>
							<p>
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
							</p>			
						</div>
					</div>
				</div>
			</section>
			
			<a id="pricing" class="in-page-link"></a>
			
			<section class="pricing pricing-3">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3>Simple plans - No fuss.</h3>
						</div>
					</div>
				
					<div class="row">
						<a href="#">
							<div class="col-md-3 col-sm-6 pricing-option text-center">
								<i class="icon-man-people-streamline-user"></i>
								<h6>Riding Solo</h6>
								<div class="price-container">
									<span class="dollar">$</span>
									<span class="price">19</span>
									<span class="terms">/mo</span>
								</div>
								<p>
									Single use licence<br> perfect for freelancers.
								</p>
							</div>
						</a>
					
						<a href="#">
							<div class="col-md-3 col-sm-6 pricing-option text-center active">
								<i class="icon-notebook-streamline"></i>
								<h6>Team Effort</h6>
								<div class="price-container">
									<span class="dollar">$</span>
									<span class="price">49</span>
									<span class="terms">/mo</span>
								</div>
								<p>
									Up to 5 licences<br> Great for small studios.
								</p>
							</div>
						</a>
					
						<a href="#">
							<div class="col-md-3 col-sm-6 pricing-option text-center">
								<i class="icon-home-house-streamline"></i>
								<h6>Big Business</h6>
								<div class="price-container">
									<span class="dollar">$</span>
									<span class="price">79</span>
									<span class="terms">/mo</span>
								</div>
								<p>
									Up to 20 licences. Suitable for<br> large businesses.
								</p>
							</div>
						</a>
					
						<a href="#">
							<div class="col-md-3 col-sm-6 pricing-option text-center">
								<i class="icon-factory-lift-streamline-warehouse"></i>
								<h6>Megacorp</h6>
								<div class="price-container">
									<span class="dollar">$</span>
									<span class="price">99</span>
									<span class="terms">/mo</span>
								</div>
								<p>
									Up to 50 licences. Made for<br> multi-nationals.
								</p>
							</div>
						</a>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<p>Need additional pricing info? <a href="#">Get in touch</a> for custom and high-volume pricing.</p>
						</div>
					</div>		
				</div>
			</section>
			
			<a id="gallery" class="in-page-link"></a>
			
			<section class="features features-9">
				<div class="hero-slider">
					<ul class="slides">
						<li>
							<div class="background-image-holder">
								<img alt="Background Image" class="background-image" src="img/hero9.jpg">
							</div>
						
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
										<h1 class="text-white">Intuitive Page Builder</h1>
										<p class="lead text-white">
											Variant Ninja fuses the traditional landing page with stylish, modern web design.
										</p>
									</div>
								</div>
							</div>	
						</li>
					
						<li>
							<div class="background-image-holder">
								<img alt="Background Image" class="background-image" src="img/hero14.jpg">
							</div>
						
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
										<h1 class="text-white">Flexible Blocks</h1>
										<p class="lead text-white">
											Clear, refined looks and sales-centric elements combine to produce smart landing pages ideal for today's products and services.
										</p>
									</div>
								</div>
							</div>	
						</li>
					
						<li>
							<div class="background-image-holder">
								<img alt="Background Image" class="background-image" src="img/hero15.jpg">
							</div>
						
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
										<h1 class="text-white">Awesome Support</h1>
										<p class="lead text-white">
											Email support is 24/7 and available on request.
										</p>
									</div>
								</div>
							</div>	
						</li>
					</ul>
				</div>
			</section>
			
			<a id="signup" class="in-page-link"></a>
			
			<section class="cta cta-3">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-4 col-md-5 text-left">
							<h3>Launch a smart site<br> in days, not weeks.</h3>
							<p>
								“Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach.”
							</p>
							<span>— That Turnip, Carrot Industries</span>
						</div>
					
						<div class="col-md-5 col-sm-8">
							<form class="form-email" method="post">
								<h6>Free 30 day trial - No credit card required</h6>
								<input type="text" name="name" class="signup-name-field validate-required" placeholder="Your Name">
								<input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
								<input type="submit" value="Start your free trial »">
								<p class="sub">
									* We don’t share your personal info with anyone. Check out our <a href="privacy.html"> Privacy Policy</a> for more information.
								</p>
								<div class="form-error">
									<span>Please fill all fields correctly</span>
								</div>
							
								<div class="form-success">
									<span>Thanks, your details were sent</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			
			<section class="cta cta-4 bg-secondary">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<img alt="Affiliate" src="img/l1.png">
							<img alt="Affiliate" src="img/l2.png">
							<img alt="Affiliate" src="img/l3.png">
							<img alt="Affiliate" src="img/l4.png">
							<img alt="Affiliate" src="img/l5.png">
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3>You're in good company</h3>
							<h5>Join thousands of satisfied customers.</h5>
							<a class="btn btn-filled super-action" href="http://j.mp/GetMySmartSite">Get Started</a>
							<p class="sub">By continuting you agree to our<br><a href="#">Terms of Use</a></p>
						</div>	
					</div>
				</div>
			</section>			
			<section class="features features-6 bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3>That's not all...</h3>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-browser-streamline-window"></i>
							<h5>Intuitive page builder</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-arrow-streamline-target"></i>
							<h5>Built for conversions</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-book-dowload-streamline"></i>
							<h5>Thorough documentation</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-design-pencil-rule-streamline"></i>
							<h5>Flexible design</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-frame-picture-streamline"></i>
							<h5>Unique elements</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-map-streamline-user"></i>
							<h5>Support forum access</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-paint-bucket-streamline"></i>
							<h5>Full hosted or host yourself options</h5>
						</div>
		
					</div>
				</div>
			</section>
			<footer class="footer footer-4">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero7.jpg">
				</div>
			
				<ul class="social-links">
					<li>
						<a href="#">
							<i class="icon-facebook"></i>
						</a>
					</li>
		
					<li>
						<a href="#">
							<i class="icon-twitter"></i>
						</a>
					</li>
		
					<li>
						<a href="#">
							<i class="icon-google"></i>
						</a>
					</li>
				</ul>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a href="#">
								<img alt="Logo" src="img/variant-ninja.png">
								<p class="sub text-white">
									© Copyright 2015 Your Co - All Rights Reserved
								</p>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		
				
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/variant.min.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
	<script src="/js/placeholders.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/waves.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/velocity.min.js"></script>
    <script src="/js/form-plugins.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/main.js"></script>	
	<script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>
    </body>
</html>

				